#tutorial{
  position:absolute;
  width:100vw;
  height:100%;
  top:0;
  left:0;
  z-index:99;
  background-color:rgba(0,0,0,0.8);

  #content{
    .slide{
      color:gray;
      background-color:whitesmoke;
      text-align:center;
      padding:35px;
      p{
        font-size:14px;
        margin:5px;
      }
    }
    width:50%;
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    img{
      width:100%;
    }
    button{
      width:50%;
      padding:15px;
      border:none;
      font-weight:600;
      color:whitesmoke;
      &:hover{
        cursor:pointer;
        opacity:0.9;
      }
      &:nth-child(2){
        background-color: #ff4d4d;
      }
      &:nth-child(3){
        background-color:#00ba6a;
      }
    }
  }
}
