<div #gmap id="map"></div>

<form [@openClose]="findPlaceModal" (ngSubmit)="findPlace()" id="findPlace">
  <input  [(ngModel)]="cityname" name="cityname" type="text" placeholder="Wpisz nazwę miasta" required/>
  <button type="submit"><i class="fas fa-play"></i></button>
  <ul >
    <li *ngFor="let city of cities" (click)="selectPlace(city)" >{{city.address.municipality}}</li>
  </ul>
</form>
<section  *ngIf="marker_modal" id="marker-modal">
  <form>
    <div>
      <input [(ngModel)]="marker_info.title" name="mark_name" value="Tytuł markera" />
      <textarea [(ngModel)]="marker_info.description" name="mark_description" rows="10">Przykładowy tekst blabla</textarea>
    </div>
    <div class="button-wrapper">
      <button type='button' (click)="marker_modal=false" id="marker-cancel">ANULUJ</button>
      <button type='button' (click)="addMarker()" id="marker-accept">ZATWIERDŹ</button>
    </div>
  </form>
</section>
