aside{
  position:absolute;
  left:0;
  z-index:99;
  height:100%;
  background-color:#272235;
  ul{
    margin:0;
    padding:0;
    li{
      &.active{
        background-color:lighten(#272235,15%) !important;
      }
      padding:15px;
      cursor:pointer;
      i{
        color:#6e6e6e;
        font-size:15px;
      }
      &:focus{
        outline:none;
      }
      &:after{

      }
      &:after{
        color:whitesmoke;
        font-size:11px;
        font-weight:bold;
        position:absolute;
        padding:10px 15px;
        left:50px;
        background-color:rgba(0,0,0,0.6);
        z-index:2;
        width:max-content;
      }
      &:nth-child(1){
        background-color:lighten(#272235,10%);
        transition:all ease-in-out 0.4s;
      }
      &:nth-child(2):hover{
        &:after{
          content:"NOWA TRASA";
        }
      }
      &:nth-child(3):hover{
        &:after{
          content:"TRASY TURYSTYCZNE";
        }
      }
    }
  }
}
.active-link{
  background-color:darken(#272235,5%);
  border-left:solid 1px #1b9fe6;
}
